@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.header {
  width: 100%;
  height: 830px;
  position: relative;
}
.background-image img {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
.thanhde {
  width: 100%;
  height: 100px;
  /* background-color: rebeccapurple; */
}
.title {
  height: 380px;
  position: relative;
  margin-top: 200px;
  margin-left: 150px;
}
.title1 {
  font-family: Italianno;
  color: #ffaa77;
  font-weight: 100;
  font-size: 50px;
}
.title2 {
  width: 750px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-bottom: 70px;
}
.filter-bar {
  margin: 0 auto;
  display: flex;
  width: 850px;
  height: 100px;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  border-radius: 10px;
}
.filter-bar select {
  padding: 10px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #ff6b00; /* Thay đổi màu chữ cho các tùy chọn */
  font-weight: bold;
}
.filter-bar option {
  color: black; /* Màu chữ cho các tùy chọn không phải là mặc định */
}
.filter-bar button {
  width: 170px;
  background-color: #ff6b00;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
.option1 section {
  color: #ffaa77;
}
.danhsach {
  font-family: Italianno;
  color: #ffaa77;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}
.diadiem {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
.container {
  width: 1400px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.background img {
  width: 1400px;
  height: 400px;
  margin-bottom: 40px;
}
.picture {
  position: absolute;
  width: 300px;
  height: 280px;
  margin-top: 50px;
}
.picture1 {
  margin-left: 40px;
}
.picture2 {
  margin-left: 360px;
}
.picture3 {
  margin-left: 680px;
}
.picture4 {
  margin-left: 1000px;
}
.note {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: #ff6b00;
  color: white;
  padding: 5px;
  z-index: 2;
  margin-top: 30px;
}
.note1 {
  margin-left: 140px;
}
.note2 {
  margin-left: 360px;
}

.note3 {
  margin-left: 780px;
}
.note4 {
  margin-left: 1090px;
}
.danhsach1 {
  font-family: Italianno;
  color: #ffaa77;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}
.emptyroom {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
.phong {
  width: 400px;
  height: 350px;
}
.giaphong {
  width: 110px;
  height: 50px;
  background-color: #ff6b00;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 110px;
  position: absolute;
  margin-top: -20px;
}
.discount {
  width: 60px;
  height: 40px;
  background-color: #ff6b00;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  margin-left: 430px;
  margin-top: -20px;
  padding-left: 10px;
  padding-top: 8px;
}
.boxdetail {
  width: 370px;
  height: 240px;
  background-color: white;
  position: absolute;
  margin-top: 290px;
  margin-left: 110px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.tenphong {
  width: 350px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family: inter;
  margin-top: 30px;
  margin-left: 25px;
}
.icon {
  width: 30px;
  height: 30px;
}
.detail {
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
  align-items: center;
}
.detail1 {
  width: 300px;
  height: 50px;
  margin-left: 20px;
  font-size: 20px;
}
.detail2 {
  width: 250px;
  height: 20px;
}
.detail3 {
  padding-top: 10px;
}
.detail4 {
  padding-top: 10px;
}
.phong1 {
  margin-left: 100px;
}
.line1 {
  display: flex;
  margin-left: -40px;
  margin-bottom: 250px;
}
.room4 {
  margin-left: -40px;
  width: 100vw;
  height: 600px;
}
video {
  margin-bottom: 70px;
}
.comment img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.comment2 {
  margin-top: 100px;
  color: white;
}
.danhsach2 {
  font-family: Italianno;
  color: white;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}
.contentcomment {
  margin-top: 140px;
  margin-left: 180px;
  display: flex;
}
.box {
  height: 220px;
  width: 320px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  /* margin-left: 100px; */
}
.danhgia {
  margin-left: 10px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.box2,
.box3 {
  margin-left: 100px;
}
.avt {
  margin-top: 80px;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 0px 360px 360px 360px;
}
.avtvacmt {
  display: flex;
}
.tenkhach {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: 10px;
  margin-top: 90px;
}
.phanloai {
  color: #ff6b00;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
}
.tintuc {
  margin-top: 230px;
  width: 100%;
  height: 850px;
}
.baidang {
  color: black;
}
.imgtintuc1 {
  width: 500px;
  height: 400px;
  margin-left: 160px;
}
.tintuc1 {
  position: relative;
}
.ngaythang {
  position: absolute;
  margin-left: 180px;
  margin-top: -30px;
  width: 130px;
  height: 70px;
  background-color: #ff6b00;
  padding: 10px;
  display: flex;
}
.ngay {
  font-weight: bold;
  font-size: 40px;
  margin-left: 10px;
}
.thangnam {
  margin-left: 35px;
  margin-top: 2px;
  font-size: 20px;
}
.detailtintuc {
  position: absolute;
  width: 440px;
  height: 360px;
  background-color: white;
  position: absolute;
  margin-top: 300px;
  margin-left: 188px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.tieude {
  color: black;
  font-family: inter;
  font-size: 30px;
  font-weight: bold;
}
.noidung {
  color: black;
  font-family: inter;
  margin-top: 20px;
  /* width: 290px; */
  font-size: 25px;
}
.buttonxemthem {
  width: 120px;
  height: 70px;
  color: white;
  background-color: #ff6b00;
  font-family: inter;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 1px;
}
.khoitintuc {
  display: flex;
}
.detailtintuc2 {
  height: 300px;
}
.footer {
  margin-top: 80px;
  height: 200px;
}
.footer img {
  width: 100%;
  height: 300px;
}
.contentoffooter {
  position: absolute;
  padding-top: 15px;
  padding-left: 80px;
  display: flex;
}
.cot {
  width: 300px;
  height: 280px;
  /* background-color: aqua; */
  color: black;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-family: inter;
}
.cot1,
.cot2,
.cot3 {
  font-weight: bold;
  font-size: 18px;
}
.cot2,
.cot3 {
  margin-left: 250px;
}
.chuxam {
  margin-top: 15px;
  color: #595959;
  font-weight: 400;
  line-height: 30px;
}
.tenduongvaicon {
  /* margin-top: 15px; */
  display: flex;
}
.iconplacecolor {
  width: 25px !important;
  height: 25px !important;
}
.tenduong {
  margin-left: 10px;
  color: #595959;
  font-weight: 400;
  line-height: 30px;
  width: 1200px;
  height: 90px;
}
.phonevaicon {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}
.sendvaicon {
  /* margin-top: -20px; */
  display: flex;
}
.sophone {
  margin-left: 10px;
  color: #595959;
  font-weight: 400;
}
.email {
  margin-left: 10px;
  color: #595959;
  font-weight: 400;
}
.diachi {
  margin-top: 15px;
}
