@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
/* News.css */
.news-container {
  display: flex;
  flex-direction: column;
}

.news-header {
  position: relative;
}

.news-background {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.news-title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.news-main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.news-content {
  flex: 3;
  margin-right: 20px;
}

.news-sidebar {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.news-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.news-item {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-item-summary {
  font-size: 1rem;
  margin-bottom: 10px;
}

.news-item-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.news-item-footer {
  text-align: center;
}

.news-item-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-item-button:hover {
  background-color: #0056b3;
}

.news-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.news-category-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.news-recent-posts-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-recent-post {
  display: flex;
  margin-bottom: 20px;
}

.news-recent-post-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.news-recent-post-text {
  display: flex;
  flex-direction: column;
}

.news-recent-post-title {
  font-size: 1rem;
  font-weight: bold;
}

.news-post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #777;
}

.news-post-author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.news-recent-posts {
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .news-main-content {
    flex-direction: column;
  }

  .news-sidebar {
    margin-top: 20px;
  }
}
